.my-slider {
    background-color: rgb(56, 56, 61);
}

.item1 {
    background:linear-gradient( rgba(0,0,0, 0.6 ),rgba(0,0,0, 0.6 ) ) , url(../assets/images/home1.jpg) no-repeat center/cover;
}
.item2 {
    background:linear-gradient( rgba(0,0,0, 0.6 ),rgba(0,0,0, 0.6 ) ) , url(../assets/images/home2.jpg) no-repeat center/cover;
}
.item3 {
    background:linear-gradient( rgba(0,0,0, 0.6 ),rgba(0,0,0, 0.6 ) ) , url(../assets/images/home3.jpeg) no-repeat center/cover;
}
.item4 {
    background:linear-gradient( rgba(0,0,0, 0.6 ),rgba(0,0,0, 0.6 ) ) , url(../assets/images/home4.jpg) no-repeat center/cover;
}
.item5 {
    background:linear-gradient( rgba(0,0,0, 0.6 ),rgba(0,0,0, 0.6 ) ) , url(../assets/images/home5.jpg) no-repeat center/cover;
}
.item6 {
    background:linear-gradient( rgba(0,0,0, 0.6 ),rgba(0,0,0, 0.6 ) ) , url(../assets/images/home6.jpeg) no-repeat center/cover;
}
